#deppage #main #courses{
	padding: 10%;
}

#deppage #main #courses .singlecourse{
	border: 1px solid white;
	margin: 30px auto;
	padding: 20px;
	box-shadow: 0px 1px 10px #999;
}

#deppage #main #courses .singlecourse div.image img{
	width: 100%;
	height: 100%;
	margin-bottom: 20px;
}

#deppage #main #courses a{
	text-decoration: none;
}

#deppage #main #courses .singlecourse h3{
	font-size: 1.5vw;
	color: #1AA6B7;
	text-align: center;
}

/*-------------------start of media queries---------------------------*/

@media (min-width: 768px) and (max-width: 991px) {

	#deppage #main #courses .singlecourse h3{
		font-size: 1.8vw;
	}
}

@media (min-width: 576px) and (max-width: 767px) {

	#deppage #main #courses .singlecourse h3{
		font-size: 2vw;
	}
}

@media (max-width: 575px) {

	#deppage #main #courses .singlecourse h3{
		font-size: 2.5vw;
	}
}
/*--------------------end of media queries-----------------------------*/