{% extends 'base/beforelogin.html' %}
{% load static %}

{% block content %}

<!-- about YourMentor starts-->
<div class="container scrolleffect" id="about">
    <div class="row">
        <div class="col-md">
            <img src="{% static 'images/goal-min.jpg' %}" alt="">
        </div>
        <div class="col-md" id="aboutpara">
            <h3>Our Goal</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Porro earum nisi molestias officiis a reprehenderit culpa error explicabo deserunt voluptas quae, eveniet veniam totam, excepturi quo cumque praesentium amet ratione.
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat ipsam illo, ea incidunt deleniti dolores voluptatem! Fugit reprehenderit quo facilis recusandae. Impedit recusandae, voluptatum sit molestias. Alias nulla, ipsam. Omnis.</p>
        </div>
    </div>
</div>
<!-- about YourMentor ends -->

{% endblock %}