{% extends 'base/afterlogin.html' %}
{% load static %}

{% block content %}

<div class="container" id="courses">
    <div class="row">
        <div class="col-8 col-md singlecourse scrolleffect" style="margin: 10px;">
            <a href="">
                <div class="align-items-center">
                    <div class="image">
                        <img src="{% static 'images/ai-min.jpg' %}" alt="">
                    </div>
                    <div>
                        <h3>Artificial Intelligence</h3>
                        <p style="text-align: center;">Co-ordinato: Mr. XYZ</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-8 col-md singlecourse scrolleffect" style="margin: 10px;">
            <a href="">
                <div class="align-items-center">
                    <div class="image">
                        <img src="{% static 'images/ai-min.jpg' %}" alt="">
                    </div>
                    <div>
                        <h3>Artificial Intelligence</h3>
                        <p style="text-align: center;">Co-ordinato: Mr. XYZ</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-8 col-md singlecourse scrolleffect" style="margin: 10px;">
            <a href="">
                <div class="align-items-center">
                    <div class="image">
                        <img src="{% static 'images/ai-min.jpg' %}" alt="">
                    </div>
                    <div>
                        <h3>Artificial Intelligence</h3>
                        <p style="text-align: center;">Co-ordinator: Mr. XYZ</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


{% endblock %}