{% extends 'base/afterlogin.html' %}
{% load static %}

{% block content %}

<div class="container" id="courses">
    <div class="row">
        {% for i in courses %}
        <div class="col-8 col-md-3 singlecourse scrolleffect" style="margin: 20px;">
            <a href="">
                <div class="align-items-center">
                    <div class="image">
                        <p style="text-align: center; background-color: {{i.color}};">{{i}}</p>
                    </div>
                    <div>
                        <h3>{{i.Name}}</h3>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
        {% for i in coursesteacher %}
        <div class="col-8 col-md-3 singlecourse scrolleffect" style="margin: 20px;">
            <a href="">
                <div class="align-items-center">
                    <div class="image">
                        <p style="text-align: center; background-color: {{i.color}};">{{i}}</p>
                    </div>
                    <div>
                        <h3>{{i.Name}}</h3>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}