{% extends 'base/afterlogin.html' %}
{% load static %}

{% block content %}

<div class="container" id="department">
    <div class="row">
        <div class="col-12 singledepartment scrolleffect">
            <a href="">
                <div class="row align-items-center">
                    <div class="image" style="background-color: #b8de6f;"><i class="fas fa-laptop-code"></i></div>
                    <div>
                        <h3>Computer Science & Engineering</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 singledepartment scrolleffect">
            <a href="">
                <div class="row align-items-center">
                    <div class="image" style="background-color: #ffc93c;"><i class="fas fa-bolt"></i></div>
                    <div>
                        <h3>Electrical & Instrumentation Engineering</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 singledepartment scrolleffect">
            <a href="">
                <div class="row align-items-center">
                    <div class="image" style="background-color: #1f6f8b;"><i class="fas fa-charging-station"></i></div>
                    <div>
                        <h3>Electronics & Communication Engineering</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 singledepartment scrolleffect">
            <a href="">
                <div class="row align-items-center">
                    <div class="image" style="background-color: #f39233;"><i class="fas fa-hard-hat"></i></div>
                    <div>
                        <h3>Civil Engineering</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 singledepartment scrolleffect">
            <a href="">
                <div class="row align-items-center">
                    <div class="image" style="background-color: #01c5c4;"><i class="fas fa-atom"></i></div>
                    <div>
                        <h3>Chemical Engineering</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 singledepartment scrolleffect">
            <a href="">
                <div class="row align-items-center">
                    <div class="image" style="background-color: #835858;"><i class="fas fa-cogs"></i></div>
                    <div>
                        <h3>Mechanical Engineering</h3>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 singledepartment scrolleffect">
            <a href="">
                <div class="row align-items-center">
                    <div class="image" style="background-color: #de4463;"><i class="fas fa-microscope"></i></div>
                    <div>
                        <h3>Department of Biotechnology</h3>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock %}