{% load static %}

<footer id="footer">
	      <div class="container scrolleffect">
	        <div class="row">
	            <div class="col-md">
		            <h2>Company</h2>
		            <p>YourMentor helps you connect with whole college.</p>
	            </div>
	            <div class="col-md">
		            <h2>Quick Links</h2>
		            <ul>
		                <li><a href="{% url 'home' %}">Home</a></li>
		                <li><a href="{% url 'about' %}">About</a></li>
		                <li><a href="#footer">Contact</a></li>
		                <li><a href="{% url 'login' %}">Login</a></li>
		            </ul>
	            </div>
	            <div id="col-md">
		            <h2>Contact Information</h2>
		            <ul>
		                <li><a href='#'>Thapar Institute of Engineering & Technology</a></li>
		                <li><a href="#">4535353453</a></li>
		                <li><a href="#">5235343434</a></li>
		                <li><a href="mailto:abc@YourMentor.in">abc@YourMentor.in</a></li>
		                <li><a href="mailto:YourMentor.ai@gmail.com">YourMentor.ai@gmail.com</a></li>
		            </ul>
		          </div>
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-md-12 text-center">
	            	<hr>
 					<p>Copyright &copy; All rights reserved | Made with <i class="fas fa-heart"></i>  by <a href="{% url 'home' %}" target="_blank">YourMentor</a></p>
	            </div>
	        </div>
	      </div>
	    </footer>